/* header.css */

/* Styling for the header */
header {
  background-color: #ffffff;
  color: #000000;
  padding: 1rem;
  display: flex;
  justify-content: space-between; /* Align items to the start and end of the header */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling for the headline */
h1 {
  margin: 0; /* Remove default margin */
  font-size: 1.5rem; /* Adjust the font size as needed */
}

/* Styling for the navigation */
nav {
  display: flex;
  justify-content: flex-end; /* Align navigation links to the right */
  align-items: center;
}

/* Styling for the navigation links */
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 1rem; /* Adjust margin to create space between links */
  position: relative; /* Position relative for absolutely positioning the underline */
}

nav a {
  color: #000000;
  text-decoration: none;
  position: relative; /* Required for pseudo-element positioning */
  font-size: 1.2rem;
}
nav a:hover {
  color: #ff0000; /* Change text color to red on hover */
}

nav a:hover::after {
  width: 100%; /* Slide the underline to 100% width on hover */
}

.logout-button {
  background: white;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: #000000;
  text-decoration: none;
  position: relative; /* Required for pseudo-element positioning */
  font-size: 1.2rem;
}
.logout-button:hover {
  background: white;
  color: #ff0000; /* Change text color to red on hover */
}
